<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Contents/masterpage.css" type="text/css" rel="stylesheet"/>
    <link href="~/Contents/home.css" type="text/css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.11.0.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="head">
        <h1>LUXURY WATCHES</h1>
    </div>
    <div class="nav">
        <ul class="menu">
            <li class="menu-item"><a href="~/Home/Index">Home</a></li>
            <li class="menu-item"><a href="#">Product</a></li>
            <li class="menu-item"><a href="~/Cart">Cart</a></li>
            <li class="menu-item"><a href="#">About</a></li>
            <li class="menu-item"><a href="#">Check out</a></li>
            <li class="menu-item"><a href="~/Account/Index">Login</a></li>
            <li class="menu-item"><a href="~/Account/Register">Register</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
