.container{
    padding: 10px 0;
}
.container h1{
    padding: 10px;
    color:#fff;
    background:#000;
    width:300px;
    margin:20px;
    transform:skew(-30deg,0deg);
    
}

.item{
    width:23%;
    float:left;
    padding:1%;
}

.item .thumbnail{
    width:100%;
}

.item .thumbnail img{
    width:100%;
}